<ion-view title="131" id="page2" class="">
    <ion-content padding="true" class="lighten-3">
        <h5 style="margin-bottom:20px"> Мои талоны:</h5>
        
        
        <div id="131-container3" class="card horizontal">
            <div class="card-image"> <img  style="width:auto; height:auto" src="img/bg_main_1.png"> </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>УЗИ</h4>
                    <p>Щитовидной железы</p>
                </div>
                <div class="card-action"> <b style="color:#c62828">18.99 BYN</b> <i class="small material-icons" style="float:right">mode_edit</i> </div>
            </div>
        </div>
        
        <div id="131-container3" class="card horizontal">
            <div class="card-image"> <img  style="width:auto; height:auto" src="img/bg_main.png"> </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>УЗИ</h4>
                    <p>Органы брюшной полости</p>
                </div>
                <div class="card-action"> <b style="color:#c62828">18.99 BYN</b> <i class="small material-icons" style="float:right">mode_edit</i> </div>
            </div>
        </div>
        <div class="spacer" style="width: 300px; height: 16px;"></div> <a ui-sref="menu.page5" id="131-button1" style="width:100%" class="waves-effect waves-light btn-large red darken-1">Заказать талон</a> </ion-content>
</ion-view>