<ion-view title="131" id="page2" class="">
    <ion-content padding="true" class="lighten-3">
        <h5 style="margin-bottom:20px"> Мои талоны:</h5>
        
        

        
        
        <div id="131-container3" class="card horizontal">
            <div class="card-image"> <img  style="width:auto; height:auto" src="img/bg_main.png"> </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>УЗИ</h4>
                    <p>Органы брюшной полости</p>
                </div>
                <div class="card-action"> <b>18.99 BYN</b> </div>
            </div>
        </div>
        
        <div id="131-container3" class="card horizontal">
            <div class="card-image"> <img  style="width:auto; height:auto" src="img/bg_main.png"> </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>УЗИ</h4>
                    <p>Органы брюшной полости</p>
                </div>
                <div class="card-action"> <b>18.99 BYN</b> </div>
            </div>
        </div>
        <div class="spacer" style="width: 300px; height: 16px;"></div> <a ui-sref="menu.page5" id="131-button1" style="width:100%" class="waves-effect waves-light btn-large red darken-1">Заказать талон</a>
    
    </ion-content>
    
 <div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red">
      <i class="material-icons">phone</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>
        
</ion-view>