<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-content padding="false" style="top:0px !important;" class="side-menu-left ">
            <ion-list id="menu-list1">
                <ion-item class="item-avatar" id="menu-list-item4"> <img src="../img/avatar-round.png" />
                    <h2 class>Денис Самойленко</h2> </ion-item>
                <div class="item item-body" id="menu-list-item-container1">
                    <h2 id="menu-heading2">Ближайший талон</h2>
                    <div id="menu-markdown7" class="show-list-numbers-and-dots myclass1">
                        <div class="float-left">
                            <p class="medium20pt">УЗИ</p>
                            <p class="little10pt">почек, надпочечников...</p>
                        </div>
                        <div class="float-right">
                            <p class="medium20pt">10:50</p>
                            <p class="little10pt">12.12.2016</p>
                        </div>
                    </div>
                    <div class="spacer" style="width: 236px; height: 20px;"></div>
                </div>
                <ion-item class="item-icon-left" id="menu-list-item34" ui-sref="menu.131" menu-close=""> <i class="icon material-icons">label</i>Талоны</ion-item>
                <ion-item class="item-icon-left" id="menu-list-item35"> <i class="icon material-icons">error</i>Что болит?</ion-item>
                <ion-item class="item-icon-left" id="menu-list-item36" ui-sref="menu.page5" menu-close=""> <i class="icon material-icons">people</i>Пациенты</ion-item>
                <ion-item class="item-icon-left" id="menu-list-item37"> <i class="icon material-icons">message</i>Сообщения</ion-item>
                <ion-item class="item-icon-left" id="menu-list-item38"> <i class="icon material-icons">view_list</i>Каталог услуг</ion-item>
                <ion-item class="item-icon-left" id="menu-list-item39"> <i class="icon material-icons">local_taxi</i>МедТакси</ion-item>
                <ion-item class="item-icon-left" id="menu-list-item40"> <i class="icon material-icons">question_answer</i>Ваши вопросы</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>