<ion-view style="color:#000000" title="Результат" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 53px;"></div>
    <div id="page6-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">Талон добавлен в личный кабинет</p>
    </div>
       <div class="spacer" style="width: 300px; height: 16px;"></div> <a ui-sref="menu.131" id="131-button1" style="width:100%" class="waves-effect waves-light btn-large red darken-1">Перейти к списку талонов</a>
  </ion-content>
</ion-view>