<ion-view title="Выбор Услуги" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="page3-form1" class="list">
      <label class="item item-input" id="page3-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Найти">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <ion-item id="page3-list-item18" ui-sref="menu.page12">Услуга 1</ion-item>
      <ion-item id="page3-list-item19" ui-sref="menu.page12">Услуга 2</ion-item>
      <ion-item id="page3-list-item20" ui-sref="menu.page12">Услуга 3</ion-item>
    </form>
  </ion-content>
     <div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red">
      <i class="material-icons">phone</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>
</ion-view>