<ion-view title="Выбор пациента" id="page5">
  <ion-content padding="true" width=100% class="has-header">
      
    <ion-list id="page5-list10" style="padding-top:10px;" class="card horizontal">
      <ion-item class="item-avatar" id="page5-list-item59"  ui-sref="menu.page3">
          <img  style="width:auto; height:auto" src="img/profile_1.png">
        <h2>Ефросинья Полоцкая</h2>
          <p style="white-space:normal;">Это вы</p>
          <i class="small material-icons" style="float:right">mode_edit</i>
        </ion-item>
    </ion-list>
      
    <ion-list id="page5-list11" style="padding-top:10px;" class="card horizontal">
      <ion-item class="item-avatar" id="page5-list-item60" ui-sref="menu.page3">
          <img  style="width:auto; height:auto" src="img/profile_2.png">
        <h2>Зинаид Иванович</h2>
          <p style="white-space:normal;">Иностранец</p>
          <i class="small material-icons" style="float:right">mode_edit</i>
      </ion-item>
         
    </ion-list>
     
      
      
    <div class="" style="width: 300px; "></div>
    <ion-list id="page5-list14" >
      <ion-item style="border:none; color: #e53935" class="item-icon-left" id="page5-list-item61">
        <i class="icon ion-plus"></i>Добавить пациента</ion-item>
    </ion-list> 
  </ion-content>
     <div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red">
      <i class="material-icons">phone</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>
</ion-view>